server:
  port: 8080
  servlet:
    context-path: /identity

spring:
  datasource:
    url: "jdbc:mysql://localhost:3306/identity_service"
    driverClassName: "com.mysql.cj.jdbc.Driver"
    username: root
    password: 153246789
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
jwt:
  signerKey: "da71bbd42f53166b283fae318f1ab668822d1980543618f423d4b6d63ce9d5fb"
  valid-duration: 3600 # in second
  refreshable-duration: 360000 # in second